@model IEnumerable<Ank9MVCTemplateGiydirme.Models.Malzeme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<br />
<br />
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MalzemeAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MalzemeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MalzemeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MalzemeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
