@model List<Urun>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/../../images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread">Ürünler</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span></p>
            </div>
        </div>
    </div>
</section>

@*1/ kola/ şekerli ferahlatıcı/ 10.00/ resim /içecekler/ şeker glikoz şurubu e300 katkı maddeleri/*@

<a class="btn btn-success mb-2" asp-controller="Urun" asp-action="Ekle">Ürün Ekle</a>

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Ürün Tanımı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Resmi</th>
            <th>Ürün Kategorisi</th>
            <th>Ürün Malzemeleri</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                        <tr>
                            <td>@item.UrunId</td>
                            <td>@item.UrunAdi</td>
                            <td>@{
                            if (item.UrunTanimi.Length>25)
                            {
                                <text>@item.UrunTanimi.Substring(0,25)</text>
                            }
                            else
                            {
                                <text>@item.UrunTanimi</text>

                            }
                            }
                                </td>
                            <td>@item.UrunFiyat</td>
                            <td><img class="img-fluid" width="250" height="250" src="~/images/uploads/@item.UrunResimURL" alt="@item.UrunAdi" /></td>
                                <td>@item.Kategori.KategoriAdi</td>
                                <td>@string.Join(",",item.UrunlerMalzemeler.Select(x=>x.Malzeme.MalzemeAdi))</td>
                            <td>
                                <a class="btn btn-warning mb-1" asp-controller="Urun" asp-action="MalzemeDuzenle" asp-route-UrunId="@item.UrunId">Malzeme Duzenle</a>

                            </td>

                            <td>
                                <a class="btn btn-info mb-1" asp-controller="Urun" asp-action="Duzenle" asp-route-UrunId="@item.UrunId">Düzenle</a>
                            </td>
                            <td>
                                <a class="btn btn-danger mb-1" asp-controller="Urun" asp-action="Sil" asp-route-UrunId="@item.UrunId">Sil</a>

                            </td>
                        </tr>
            }
        }
    </tbody>
</table>